
<launch>
  <param name="/use_sim_time" value="true" />
  <arg name="robot" default="qingzhou1"/>
  <arg name="namespace" default="/$(arg robot)" />
  <!--node pkg="tf" type="static_transform_publisher" name="tf_mapodom1" args="0 0 0.0 0 0 0 map qingzhou1/odom  33"/-->
  <node name="cartographer_node$(arg robot)" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find qingzhou_mapping)/configuration_files
          -configuration_basename demo.lua"
      output="screen">
    <remap from="scan" to="$(arg namespace)/scan" />
  </node>

  <node name="$(arg robot)cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <node name="$(arg robot)rviz1" pkg="rviz" type="rviz" required="true"
      args="-d $(find qingzhou_mapping)/rviz/carto_1.rviz" />

</launch>
