<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="qingzhou1" />
  <group ns="$(arg namespace)">
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping2" output="screen" clear_params="true">
      <remap from="scan" to="scan"/>
      <!--remap from="$(arg namespace)/ackermn_steering_controller/odom" to="odom"/-->

      <param name="base_frame" value="$(arg namespace)/base_link" />
      <param name="map_frame" value="$(arg namespace)/map" />
      <param name="odom_frame" value="$(arg namespace)/odom" />
      <param name="map_update_interval" value="5.0"/>
      <param name="maxUrange" value="10.0"/>
      <param name="sigma" value="0.05"/>
      <param name="kernelSize" value="1"/>
      <param name="lstep" value="0.05"/>
      <param name="astep" value="0.05"/>
      <param name="iterations" value="5"/>
      <param name="lsigma" value="0.075"/>
      <param name="ogain" value="3.0"/>
      <param name="lskip" value="0"/>
      <param name="srr" value="0.1"/>
      <param name="srt" value="0.2"/>
      <param name="str" value="0.1"/>
      <param name="stt" value="0.2"/>
      <param name="linearUpdate" value="1.0"/>
      <param name="angularUpdate" value="0.5"/>
      <param name="temporalUpdate" value="3.0"/>
      <param name="resampleThreshold" value="0.5"/>
      <param name="minimumScore" value="80"/>
      <param name="particles" value="30"/>
      <param name="xmin" value="-10.0"/>
      <param name="ymin" value="-10.0"/>
      <param name="xmax" value="10.0"/>
      <param name="ymax" value="10.0"/>
      <param name="delta" value="0.05"/>
      <param name="llsamplerange" value="0.01"/>
      <param name="llsamplestep" value="0.01"/>
      <param name="lasamplerange" value="0.005"/>
      <param name="lasamplestep" value="0.005"/>
      <!--remap from="scan" to="$(arg scan_topic)" /-->
      <remap from="map" to="map" />
    </node>

    <!-- Setting name and path of RVIZ config file -->
    <arg name="rvizconfig" default="$(find qingzhou_mapping)/rviz/mapping.rviz" />
    
    <node pkg="rviz" type="rviz" name="rviz2" args="-d $(arg rvizconfig)" required="true" />
  </group>
</launch>
